    {{ `<!--[if gte IE 9 | !IE ]><!-->` | safeHTML }}
    <link rel="icon" href="{{ "/wet-boew/assets/favicon.ico" | relURL }}" type="image/x-icon" />
    <link rel="stylesheet" href="{{ "/wet-boew/css/theme.min.css" | relURL }}" />
    {{ `<!--<![endif]-->` | safeHTML }}

    {{ `<!--[if lt IE 9]>` | safeHTML }}
    <link href="{{ "/wet-boew/assets/favicon.ico" | relURL }}" rel="shortcut icon" />
    <link rel="stylesheet" href="{{ "/wet-boew/css/ie8-theme.min.css" | relURL }}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{{ "/wet-boew/js/ie8-wet-boew.min.js" | relURL }}"></script>
    {{ `<![endif]-->` | safeHTML }}

    {{ `<!--[if lte IE 9]>` | safeHTML }}


    {{ `<![endif]-->` | safeHTML }}

    <noscript><link rel="stylesheet" href="{{ "/wet-boew/css/noscript.min.css" | relURL }}" /></noscript>

    {{ `<!-- Add Chart.js Bundle -->` | safeHTML }}
    <script src="{{ "/js/Chart.bundle.min.js" | relURL }}"></script>
    <script src="{{ "/js/vector_lib.js" | relURL }}"></script>

    {{ `<!-- Add Project CSS File -->` | safeHTML }}
    <script src="{{ "/css/app.css" | relURL }}"></script>
    